//el ng-app hace posible consultar el scrip connection y traer la funcion Ruta
html(lang="es") 
  head
    title SIGMAT
    meta(charset="UTF-8")
    script(src="librerias/jquery-2.2.4.min.js")
    script(src="librerias/angular.min.js")  
    script(src="librerias/highcharts.js")
    
    link(href="styles/style.css",rel="stylesheet")
  body
    section
      #map
      #map-zoom-in
      #map-zoom-out
      #izquierda
        .abajo
          select#lista
            option(value="-1" selected="") Seleccione la velocidad de actualizacion
            option(value="1") Tiempo real (cada 0.2 segundos)
            option(value="2") Rapido (cada segundo)
            option(value="3") Lento (cada 5 segundos)
          .tabs_links
            a(href="#BRT-1") RUTA 1
            a(href="#BRT-2") RUTA 2
            a(href="#BRT-3") RUTA 3
            a(href="#BRT-4") RUTA 4
          .tabs_contens
            #BRT-1.items
              #container
            #BRT-2.items
              .caja
                .circulo 
                  .interno 
                .circulo 
                  .interno
                .circulo 
                  .interno
               
              
            #BRT-3.items
              P 3Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            #BRT-4.items
              P 4Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    
        //ng-controller="Ruta" permite acceder a la funcion en el connection.js
        
        //.arriba(ng-app="myApp")
            table(ng-controller="FirstCtrl")
              tr
                th Nombre
                th latitud
                th longitud
              tr(ng-repeat="reg in coordenadas")
                td {{reg.Nombre}}
                td {{reg.latitud}}
                td {{reg.longitud}}
               
              p the id
            accedemos a los campos de objeto almacenado en el archivo json
            spam {{coordenadas[2].Nombre}} 
            p the is 
            spam {{coordenadas}}
        script(src="scripts/map.js")
        script(src="controller/connection.js")
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGeiXByYhldiT7SRt5xKIcz3s3k_a6jjM&callback=initMap" async defer)
        
              
        
                
          
    
      
      
