html(lang="es")
  head
    title SIGMAT
    meta(charset="UTF-8")
    link(href="styles/style.css",rel="stylesheet",type="text/css")
  body
    p.caja Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
    
