<!doctype html>
<html ng-app="app">
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-touch.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js"></script>
    <script src="../lib/jquery-2.2.4.min.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
    <script src="http://ui-grid.info/release/ui-grid.js"></script>
    <link rel="stylesheet" href="http://ui-grid.info/release/ui-grid.css" type="text/css">
    <link href="../css/styletablas.css" rel="stylesheet" type="text/css">
  </head>
  <body>

 <div class="grid">
 <div id="cajaletrero"><b>MONITOREO EN TABLAS</b></div>

<div id="cajaletreroinformacion1">
   <!-- 
   <div id="cajaletreroinformacionrojo1"></div>
   <div id="cajaletreroinformacionblanco1"></div>
   <div id="cajaletreroinformacionazul1"></div>
    -->
   <div id="cajaletreroinformaciontexto1"></div>
 </div>
  <div id="cajaletreroinformacion"> <b>Atrasado Normal Adelantado</b>
   <div id="cajaletreroinformacionrojo"></div>
   <div id="cajaletreroinformacionblanco"></div>
   <div id="cajaletreroinformacionazul"></div>
 </div>
  <div id="grid1" ng-controller="MainCtrl">
   <div  ui-grid="gridOptions" ui-grid-selection ui-grid-exporter  ></div>
  </div>
</div>


  <script src="../js/TablaClase.js"></script>
  </body>
</html>
