
<html>
  <head>
    <title>Multiples Rutas</title>
    <link rel="stylesheet" type="text/css" href="../css/rcss.css"/>
    <link rel="stylesheet" type="text/css" href="../css/scroll.css"/>
    <script src="../lib/jquery-2.2.4.min.js"></script>
    <script type="application/javascript" src="../js/itinerarios.js"></script>
    <script type="application/javascript" src="../js/times.js"></script>
  </head>
  <body>
    <button id="btn1">agregar ruta</button>
    <button id="btn2">eliminar ruta</button>
    <button id="btn3">cambio de color del marcador</button>
    <div class="cajaR">
      <div class="timeline">
        <div class="line">
          <ol style="background-color:transparent" class="linei"></ol>
        </div>
        <ul class="mover">
          <li><a href="#0" class="prev inactive">Anterior</a></li>
          <li><a href="#0" class="next">Siguiente    </a></li>
        </ul>
      </div>
    </div>
  </body>
</html>