
<html>
  <head>
    <title>R1</title>
    <link rel="stylesheet" type="text/css" href="../css/rcss.css"/>
    <script src="../lib/jquery-2.2.4.min.js"></script>
    <script type="application/javascript" src="../js/itinerario.js"></script>
    <script type="application/javascript" src="../js/time.js"></script>
  </head>
  <body>
    <h1>hola</h1>
    <div class="timeline">
      <div class="line">
        <ol style="background-color:transparent" class="linei"></ol>
        <div class="lineT"></div>
      </div>
      <ul class="mover">
        <li><a href="#0" class="prev inactive">Anterior</a></li>
        <li><a href="#0" class="next">Siguiente  </a></li>
      </ul>
    </div>
    <button id="btn1">agregar recorrido</button>
    <button id="btn2">eliminar recorrido</button>
    <button id="btn3">cambio de color del marcador</button>
  </body>
</html>