html
  head
    title R1
    link(rel="stylesheet", type="text/css", href="../css/rcss.css")
    script(src="../lib/jquery-2.2.4.min.js")
    script(type="application/javascript", src="../js/itinerario.js")
    script(type="application/javascript", src="../js/time.js")
    
  body
    h1 hola
    .timeline
      .line
        ol.linei(style='background-color:transparent')
        .lineT
      ul.mover
        li: a(href="#0").prev.inactive Anterior
        li: a(href="#0").next Siguiente  
    
    button#btn1 agregar recorrido
    button#btn2 eliminar recorrido
    button#btn3 cambio de color del marcador
